.details {
  padding: 40px 0;
  min-height: 80vh;
  background: #f8f9fa;

  .content {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 20px;
      color: #1e293b;
      text-transform: capitalize;
    }

    .imageWrapper {
      margin-bottom: 20px;

      .image {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }

    p {
      font-size: 1rem;
      margin: 5px 0;
      color: #334155;
    }

    .types {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;

      .type {
        padding: 5px 10px;
        border-radius: 8px;
        background: #e2e8f0;
        color: #1e293b;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 0.9rem;
      }
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background-color: #0f0f0f;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #3e4042;
      }
    }
  }
}
/* HTML: */
.loader {
  position: absolute;
  left: 50%;
  top: 20%;
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #191a1a;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
